$black: #000000;
$white: #ffffff;
$grey:  #9a9caf;
$grey-ligth: #f8f8f8;
$border-list: #f4f5f6;
$orang: #f87007;
$bg-f: #313438;
$blue: #076ee7;
$yellow: #f5a623;
$light-green: #6a8541;
$bg-yesterday: #fcfcfc;
$twitter: #55acee;
$facebook: #3b5998;
$google: #db4e42;
$youtube: #d9252a;